body {
    background-color:#EFEFEF;
}

/* 1 A 4 */
.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#name-container {
    display: flex;
    flex-direction: column;
}

#family-container {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#family-content-container {
    display: flex;
}